* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}

body:before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    content: "";
    z-index: 0;
    background-image: URL("/splendor/img/top.jpg");
}

li{
	list-style: none;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.accent {
    background-color: #ff4743;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#username-page {
    text-align: center;
}

.username-page-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.username-page-container .username-submit {
    margin-top: 10px;
}


#chat-page {
    position: relative;
    height: 100%;
}

.chat-container {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    position: relative;
}

#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 10px;
}

#chat-page #messageForm {
    padding: 20px;
    height: 120px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 5px 0px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 50px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 30px;
    height: 30px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #43464b;
    font-size: 14px;
}

#chat-page .chat-message .timestamp {
	position: relative;
	text-align: right;
	font-style: italic;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
    height: 30px;
}

#messageForm .input-group textarea {
	float: left;
	width: calc(100% - 85px);
}

/*
#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}
*/

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
    font-size: 14px;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}

.join_player{
    background: black;
    min-height: 300px;
}

.join_player_info{
    padding: 10px;
}

.join_player_info img{
    width: 50px;
    height: 50px;
    float:left;
}

.join_player_info div{
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    color: white;
    width: 150px;
    float:left;
    margin-left:10px;
}

.message-input-area{
	width:100%;
}

.play-controll{
	height: calc(100% - 70px);
}

.start-game-table{
	text-align:center;
}

.play-controll li{
	overflow-y:auto;
}

.play-controll table{
    width:80%;
    font-size:15px;
}

.game_player{
    width: 230px;
    background: black;
    min-height: 300px;
}

.game_player_info{
    padding: 10px;
    overflow-y: auto;
}

.game_player_info img{
    width: 50px;
    height: 50px;
    float:left;
}

.game_player_info div{
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    float:left;
    margin-left:10px;
}

.nobleTilesField table{
    width:100%;
}

.nobleTiles{
    text-align: center;
    border: solid 1px;
    position: relative;
    border-radius: 10%;
}

.devCard{
    border: solid 1px;
    text-align: center;
    position: relative;
}

.devCardTable{
    width:calc(100% - 90px);
}

.depCardLevel3Field .devCard{
    border: solid 1px #00204b;
}
.depCardLevel2Field .devCard{
    border: solid 1px #412200;
}
.depCardLevel1Field .devCard{
    border: solid 1px #002c0b;
}

.depCardLevel3Deck{
    color:rgb(82, 82, 0);
    background: #79b4ff;
    float:left;
}

.depCardLevel2Deck{
    color:rgb(82, 82, 0);
    background: #ffe977;
    float:left;
}

.depCardLevel1Deck{
    color:rgb(82, 82, 0);
    background: #12a24d;
    float:left;
}

.token{
    border: solid 1px;
    border-radius: 100%;
    text-align: center;
    font-size:18px;
}

.tokenTable{
    width:100%;
}

.emerald{
    background:#008f3b;
}

.sapphire{
    background:#005eb7;
}

.ruby{
    background:#ff3a3a;
}

.diamond{
    background:#efefef;
}

.onyx{
    background:#502b00;
    color:white;
}

.goldJoker{
    background:#ffbb00;
}

.devCard_score{
    font-size: 20px;
    color: white;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
    text-align: left;
    margin-left: 5px;
}
.devCard_costs{
    left:0;
    bottom:0;
    position: absolute;
}
.dev_cost{
    border-radius:50%;
    line-height:25px;
    color: white;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
    font-size: 12px;
    border: solid 1px white;
}

.player_name{
    width:140px;
}

.player_noble_tiles{
    width: 40px;
    height: 50px;
    border: solid 1px;
    text-align: center;
}

.player_noble_tiles{
    width: 40px;
    height: 50px;
    border: solid 1px;
    text-align: center;
}

.player_devCard{
    width: 35px;
    height: 35px;
    border: solid 1px;
    text-align: center;
    line-height: 35px;
}

.player_token{
    width: 35px;
    height: 35px;
    border: solid 1px;
    text-align: center;
    line-height: 35px;
    border-radius: 100%;
}

.my_turn{
    background: #abdfff;
}

@media screen and (min-width: 769px){
    .hidden-xl{
        display:none;
    }
    .chat-container {
        min-width: 700px;
        width: 80%;
        height: calc(100% - 100px);
        margin-top: 30px;
    }
    .main-contents-common{
        float:left;
        height: calc(100% - 54px);
    }
    .left-side{
        width:230px;
    }
    
    .main-contents{
        width: calc(100% - 560px);
    }
    
    .right-side{
        width:330px;
        border-left: 1px solid #ececec;
    }
    .join_player{
        width: 230px;
    }

    #chat-page ul {
        height: calc(100% - 300px);
    }

    #chat-page #conversation {
        width: 230px;
    }
    .nobleTiles{
        width: 110px;
        height: 110px;
    }
    .dev_cost{
        width:25px;
        height:25px;
        line-height:25px;;
    }
    .gameField{
        margin-top:20px;
        margin-left:20px;
    }
    .devCard{
        width: 90px;
        height: 130px;
    }

    .token{
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

@media screen and (max-width: 768px){
    .hidden-xs{
        display:none;
    }

    .chat-container {
        width: 100%;
        height: 100%;
        overflow-y:auto;
    }
    .main-contents-common{
        width:100%;
    }
    .join_player{
        width: 100%;
    }

    #chat-page ul {
        height: 50px;
        border-bottom: solid 1px #cacaca;
        margin-bottom: 5px;
    }

    #chat-page #conversation {
        width: 100%;
    }

    .chat-header{
        height:60px;
    }

    .chat-header img{
        float:left;
        width:40px;
        height:40px;
    }
    .chat-header div{
        font-size: 20px;
        line-height: 40px;
        height: 40px;
        width: 150px;
        margin-left: 10px;
    }
    .nobleTiles {
        width: 60px;
        height: 60px;
    }
    .dev_cost {
        width: 18px;
        height: 18px;
        line-height: 18px;
        float: left;
    }
    .gameField{
        margin-top:5px;
    }

    .devCard {
        width: 78px;
        height: 78px;
    }
    .token{
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .right-side{
        margin-top: 10px;
        border-top: solid 1px;
    }
}